body {
  background-color: #282828;
  color: #A0A0A0;
  padding-top: 20px;
  padding-bottom: 40px;
}

a {
  color: #de270f;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.container-narrow > hr {
  margin: 30px 0;
}
ul li{
  list-style: circle;
}

header .tag-line{
  width: 300px;
}
ul#robot-nav > li > a{
  color: #de270f;
}
ul#robot-nav > li > a:hover{
  color: #fff;
}

footer {
  margin-top: 40px;
}
footer a{
  color: #aaa;
  text-decoration: none;
}
footer .rocket-logo {
  left: 50%;
  margin-left: -75px;
  position: absolute;
}
footer .rocket-logo img {
  height: 150px;
  width: 150px;
}

.hero-unit {
  margin-top: 20px;
}

iframe.bandcamp {
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}

iframe.youtube {
  width: 700px;
  height: 480px;
  margin-bottom: 25px;
}

.shows-list a{
  color: #8A1000;
}

.spacer {
  margin-top: 30px;
}