body {
  padding-top: 20px;
  padding-bottom: 40px;
}

a {
  color: #de270f;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.container-narrow > hr {
  margin: 30px 0;
}
ul li{
  list-style: circle;
}

header .tag-line{
  width: 300px;
}

footer {
  margin-top: 40px;
}
footer a{
  color: #aaa;
  text-decoration: none;
}
footer .rocket-logo {
  left: 50%;
  margin-left: -75px;
  position: absolute;
}
footer .rocket-logo img {
  height: 150px;
  width: 150px;
}

.hero-unit {
  margin-top: 20px;
}

.shows-list a{
  color: #8A1000;
}

.space {
  padding: 10px;
}